<%= form_tag import_localizations_save_admin_products_path, multipart: true do %>
  <p>
  <%= label_tag :plik, LocalizationsImport.human_attribute_name(:plik) %>
  <br/>
  <%= file_field_tag :plik %>
  </p>
  <br/>
  <p>
  <%= label_tag :archiwum_zdjec, LocalizationsImport.human_attribute_name(:archiwum_zdjec) %>
  <br/>
  <%= file_field_tag :archiwum_zdjec %>
  </p>
  <br/>
<%= submit_tag t('active_admin.products_import.button') %>
<% end %>
