<%= form_tag import_localizations_save_admin_additional_elements_path, multipart: true do %>
  <p>
  <%= label_tag :plik, AdditionalElementLocalizationsImport.human_attribute_name(:plik) %>
  <br/>
  <%= file_field_tag :plik %>
  </p>
  <br/>
  <br/>
<%= submit_tag t('active_admin.additional_element_localizations_import.button') %>
<% end %>
